body{
    font-family: 'Montserrat';  
}
.menu-list{
   text-align: center;
   padding: 0;
   margin-top: 26px;
   margin-bottom: 26px;
}
.menu-item{
    display: inline-block;
    padding-right: 72px;    
}
.menu-veb{
    text-decoration: none;
    font-weight: 700;
font-size: 18px;
line-height: 18px;
color: #FF0000;
text-transform: uppercase;
}
.simple-photo{
    width: 100%;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
font-size: 22px;
line-height: 27px;
margin-top: 49;
margin-bottom: 0;
color: #373737;
    }
    .conteiner{
margin-top: 38px;
margin-left: 68px;
margin-right: 68px;
    }
    .text{
        margin: 0;
        padding-bottom: 28px;
        text-align: center;
        font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
color: #373737;
    }
    .link{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 66px;
        margin-bottom: 0;
        padding-top: 18px;
        padding-bottom: 17px;   
        padding-left: 43px;
        padding-right: 44px;
        background-color: #FF0000;
        border: none;
        border-radius: 4px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
    }
    .foot-text{
        text-align: end;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 2.4px;
        margin-top: 82px;
        margin-bottom: 29px;
        margin-right: 105px;
    }
   
   
    
   