body {
    font-family: sans-serif;
}
.content-all {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
}
.logo {
    display: block;
    margin-top: 63px;
    margin-bottom: 38px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}
.logo-color {
    color:aqua;
}
.maine {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
}
.main-list-right {
    border-right: 1px solid #FFFFFF;
}
.main-list {
 padding: 26px 33px 19px 33px;
color: #FFFFFF;
border-left: 1px solid #FFFFFF;
font-size: 24px;
line-height: 28px;
}
.unite {
    display: flex;
    margin-top: 48px;
}
.left-main {
    border: 1px solid #000000;
    color: #485863;
    margin-right: 52px;
}
.list {
    text-align: center;
    width: 344px;
}
.item-list{
    text-align: start;
    font-size: 27px;
    line-height: 27px;
    padding: 30px 0 30px 44px;
}
.item-list:hover{
    background-color: #35444F;
    color: #FFFFFF;
    padding-left: 39px;
}
.content {
    display: flex;
    flex-direction: column;
}
.content-img {
    display: flex;
    justify-content: center;
    padding: 75px 0 73px 0px;
    border: 1px solid;
    color: #485863;
    width: 885px;

}
.text {
    padding-top: 37px;
    font-weight: 400;
font-size: 18px;
line-height: 24px;
}
.footer-container {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);;
justify-content: space-between;
margin: 54px 0 30px 0;
padding-top: 21px;
padding-bottom: 21px;
}
.footer-main {
   display: flex; 
}
.footer-item {
    padding-left: 40px;
}
.footer-web {
    font-size: 28px;
line-height: 28px;
color: #0C1927;
text-decoration: none;
}
.copy {
    font-size: 24px;
line-height: 24px;
color: #010101;
padding-right: 40px;
}
.footer-web:hover {
    color:aqua;
    border-bottom: 1px solid aqua;
}